#### Question 1

In [1]:
import pandas as pd

In [2]:
sales = pd.read_csv("vgsales.csv")
sales.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

#### Question 2

In [3]:
sales.head(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

#### Question 3

In [4]:
sales.shape

(16598, 11)

In [5]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

#### Question 4

In [8]:
sales.isna().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [9]:
sales = sales.dropna()

#### Question 5

In [10]:
# Sort the sales to be arranged in descending order by Global Sales

sort_sales = sales.sort_values('Global_Sales',
                               ascending = False)

In [12]:
# Get the top 5 video games by Global Sales

top_5 = sort_sales.head(5)
print(top_5)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

#### Question 6

In [15]:
# Filter the dataset by the Action genre

action_sales = sales[sales['Genre'] == 'Action']

In [16]:
# Calculate the total sales in North America for the Action genre

action_na_sales = action_sales['NA_Sales'].sum()
print("Total Sales in North America for Action Genre:", action_na_sales)

861.7700000000001

#### Question 7

In [18]:
# Calculate sum of Group Sales for each publisher

publ_sales = sales.groupby('Publisher')['Global_Sales'].sum()

In [19]:
# Sort the publisher sales in descending order

sort_publ_sales = publ_sales.sort_values(ascending = False)

In [20]:
# Get the 3 top publishers by Global Sales

top_3 = sort_publ_sales.head(3)
print(top_3)

Publisher
Nintendo           1784.43
Electronic Arts    1093.39
Activision          721.41
Name: Global_Sales, dtype: float64

#### Question 8

In [21]:
# Filter the dataset by the Shooter genre

shooter_sales = sales[sales['Genre'] == 'Shooter']

In [22]:
# Calculate the average sales in Europe for the Shooter genre

avg_eu_sales = shooter_sales['EU_Sales'].mean()
print("Average Sales in Europe for Shooter Genre:", avg_eu_sales)

Average Sales in Europe for Shooter Genre: 0.24216068642745708

#### Question 9

In [23]:
# Filter the dataset by the Sports genre

sports_sales = sales[sales['Genre'] == 'Sports']

In [24]:
# Sort sports sales by Japan Sales column in descending order

sort_sports_sales = sports_sales.sort_values('JP_Sales',
                                            ascending = False)

In [25]:
# Get the game with the highest sales in Japan in the Sports genre

top_jp_sales = sort_sports_sales.iloc[0]
print("Game with the Highest Sales in Japan in the Sports Genre: ")
print(top_jp_sales['Name'], "-", top_jp_sales['JP_Sales'])

Game with the Highest Sales in Japan in the Sports Genre:
Wii Sports - 3.77